body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.board {
    display: grid;
    grid-template-columns: repeat(8, 70px);
    grid-template-rows: repeat(8, 70px);
    border: 4px solid #333;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.light {
    background-color: #f0f0f0;
}

.dark {
    background-color: #6d84b4;
}